/* You can add global styles to this file, and also import other style files */
html, body {
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
  font-family: Tahoma, Courier, monospace;
}

h1 {
  font-size: 24px;
  margin-bottom: 40px;
}

button {
  padding: 20px;
  background-color: #357367;
  font-weight: 500;
  color: white;
  box-shadow: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

table {
  margin-top: 60px;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 600px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #2f4f4f;
  border-right: 8px solid #357367;
  border-bottom: 8px solid #2f4f4f;
  border-left: 8px solid #357367;
  width: 44px;
  height: 44px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
